.message-option {
    margin-top: 30px;
}

.check-terms {
    margin-top: 1.5rem;
}

.register-buttons-wrapper{
    margin-top: 1rem;
    display: block !important;
    justify-content: space-evenly;
}